/* styling the homepage - at least 2 element selectors and 1 class selector,
paragraphs styled in helvetica with point 10 font, image must have solid
border and set to left of self summary */
p {
    font-size: 10 pt;
    font: "Helvetica";
}
.picture {
    float: left;
    border: 1 px solid #000000;
}
.summmary {
    color: #070755;
}
h1 {
    font-size: 20 pt;
    font: "Helvetica";
    color: #114669;
}
body {
    background-color: aliceblue;
}