/* styling the homepage - at least 2 element selectors and 1 class selector,
paragraphs styled in helvetica with point 10 font, image must have solid
border and set to left of self summary */
p {
    font-size: 10pt;
    font: "Helvetica";
}
.picture {
    float: left;
    border: 5px solid #000000;
}
img{
    height: 200pt;
    width: auto;
}
.summmary {
    color: #070755;
    padding-left: 50pt;
}
h1 {
    font-size: 20pt;
    font: "Helvetica";
    color: #114669;
}
body {
    background-color: aliceblue;
}
div {
    width: 5px;
}