/* stylizing the resume page */
head {
    font-size: 20pt;
    font: "Helvetica";
}
body {
    font-size: 15pt;
    font: "Helvetica";
}
p {
    font-size: 10pt;
    font: "Helvetica";
}
div {
    width: 5px;
}