/* stylizing the resume page */
.header {
    font-size: 20pt;
    font: "Helvetica";
}
h1,h2,h3,h4,h5 {
    font-size: 15pt;
    font: "Helvetica";
}
p {
    font-size: 10pt;
    font: "Helvetica";
}