/* stylizing the resume page */
h1, h2, h5, h6, h7 {
    font-size: 15 pt;
    font: "Helvetica";
}
p {
    font-size: 10 pt;
    font: "Helvetica";
}
head {
    font-size: 20 pt;
    font: "Helvetica";
}